{
  globals: {
    describe: true,
    it: true,
    before: true,
    after: true,
    beforeEach: true,
    afterEach: true,
    expect: true,
    sinon: true,
    captureEvents: true,
  },

  rules: {
    new-cap: 0, // test constructors as regular functions
    max-nested-callbacks: 0, // Mocha works with deeply nested callbacks
    no-unused-expressions: 0, // For Chai
    max-statements-per-line: 0, // For shorter before/after calls
    callback-return: 0, // For testing incorrect usage
  },
}
